@use '../../assets/styles/index' as var;

.order {
  font-family: var.$font-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 155px 0 254px;
  background-image: url('./menuBG.svg');
  background-size: cover;
}

.title {
  color: var.$color-active;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px; /* 110% */
  letter-spacing: 1.65px;
}