.btn {
  background-color: var(--color-active);
  color: var(--color-bg);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &--secondary {
    color: var(--color-text-primary);
    background-color: var(--color-surface);
    border: 1px solid var(--color-border);
  }

  &--small {
    width: 147px;
    height: 45px;
  }

  &--medium {
    width: 147px;
    height: 52px;
  }

  &--large {
    width: 193px;
    height: 60px;
  }

  &--remove {
    width: 60px;
    height: 45px;
  }
}

.btn:hover {
  background-color: #5fc4d0;
}

.btn--secondary:hover {
  background-color: var(--color-active);
  color: var(--color-bg);
}
