@use '../../assets/styles/index' as var;

.btn {
  background-color: var.$color-active;
  color: var.$color-light;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &--secondary {
    color: var.$color-dark;
    background-color: var.$color-light;
    border: 1px solid rgba(97, 114, 131, 0.20);
    transition: all 0.3s ease-in-out;
  }

  &--small {
    width: 147px;
    height: 45px;
  }

  &--medium {
    width: 147px;
    height: 52px;
  }

  &--large {
    width: 193px;
    height: 60px;
  }

  &--remove {
    width: 60px;
    height: 45px;
  }
}

.btn:hover {
  background-color: #5fc4d0;
}

.btn--secondary:hover {
  color: var.$color-light;
  background-color: var.$color-active;
}