.card {
  width: 580px;
  height: 200px;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 26px;

  border-radius: 6px;
  border: 1px solid var(--color-border);
  background-color: var(--color-surface);
}

.img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.desc__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: var(--color-text-primary);
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.6px;
}

.price {
  color: var(--color-active);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 10px 0;
}

.text {
  width: 351px;
  color: var(--color-text-secondary);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.container {
  display: flex;
  align-items: center;
  gap: 8px;
}
