@use '../../../../assets/styles/index' as var;

.card {
  width: 580px;
  height: 200px;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 26px;

  border-radius: 6px;
  border: 1px solid rgba(53, 184, 190, 0.15);
  background: var.$color-light;
}

.img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.desc__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: var.$color-dark;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  letter-spacing: 0.6px;
}

.price {
  color: var.$color-active;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  padding: 10px 0;
}

.text {
  width: 351px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.container {
  display: flex;
  align-items: center;
  gap: 8px;
}