.home {
  background-size: cover;
}

.home__wrapper {
  display: flex;
  padding: 100px 120px 140px;
}

.content {
  padding-top: 57px;
}

.title {
  width: 100%;
  max-width: 600px;
  color: var(--color-text-primary);
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 1.8px;
  margin-bottom: 27px;
}

.text {
  width: 100%;
  max-width: 539px;
  color: var(--color-text-secondary);
  font-size: 18px;
  font-weight: 400;
  line-height: 24.12px;
  letter-spacing: 0.36px;
  margin-bottom: 53px;
}

.review {
  margin-top: 30px;
}

.review__img {
  color: var(--color-text-primary);
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.star__img {
  display: inline-block;
  width: 26.345px;
  height: 25.04px;
  background: url('/star.svg') center / contain no-repeat;

}

.review__text {
  color: var(--color-text-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.img-wrapper {
  width: 100%;
  max-width: 600px;
  position: relative;
}

.img__title {
  position: absolute;
  right: 68px;
  bottom: 8px;
  width: 212px;
  height: 212px;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.img__title:hover {
  border: 2px solid rgba(53, 184, 190, 0.6);
}
