.input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  -moz-appearance: textfield;

  width: 60px;
  height: 45px;
  border-radius: 6px;

  border: 1px solid var(--color-border);
  background-color: var(--color-surface);
  color: var(--color-text-primary);

  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36px;

  transition: border-color 0.2s ease, background-color 0.2s ease;
}

.input:focus {
  outline: none;
  border-color: var(--color-active);
}
