@use '../../../../assets/styles/index' as var;

.input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  -moz-appearance: textfield;
  width: 60px;
  height: 45px;
  border-radius: 6px;
  border: 1px solid #DDD;
  background: #FAFAFA;
  color: var.$color-dark;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  letter-spacing: 0.36px;
}

.input:focus {
  outline: var.$color-active;
}