@use '../../assets/styles/index' as var;

.login {
  font-family: var.$font-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 53px;
  padding: 155px 0 254px;
  background-size: cover;
}

.title {
  color: var(--color-active);
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 1.65px;
}
