.footer {
  background-image: url('./footerBG.svg');
  background-size: cover;
}

[data-theme='dark'] .footer {
  background-image: none;
}

.footer__wrapper {
  padding: 100px 120px 60px;
}

.footer__top {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding-bottom: 99px;
  border-bottom: 1px solid var(--color-border);
}

.container50 {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(50% - (16px * 3 / 4));
  height: 232px;
}

.text {
  color: var(--color-text-secondary);
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36px;

  &:first-of-type {
    margin-top: 25px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  flex: 0 0 calc((50% / 3) - (16px * 3 / 4));
}

.title {
  color: var(--color-text-primary);
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.container__text {
  color: var(--color-text-secondary);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 61px;
}

.bottom__container {
  display: flex;
  align-items: center;
  gap: 3px;
}

.bottom_text {
  color: var(--color-text-secondary);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;

  &--active {
    color: var(--color-active);
  }
}

.mediaLinks {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 0 12px;
}
