@use '../../assets/styles/index' as var;

.footer {
  background-image: url('./footerBG.svg');
  background-size: cover;

  .logo {
    margin-bottom: 25px;
  }
}

.footer__wrapper {
  padding: 100px 120px 60px;
}

.footer__top {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding-bottom: 99px;
  border-bottom: 1px solid rgba(126, 130, 143, 0.09);
}

.container50 {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(50% - (16px * 3 / 4));
  height: 232px;
}

.text {
  color: var.$color-text;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  letter-spacing: 0.36px;

  &:first-of-type {
    margin-top: 25px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  flex: 0 0 calc((50% / 3) - (16px * 3 / 4));
}

.title {
  color: var.$color-dark;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.container__text {
  color: var.$color-text;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 61px;
}

.bottom__container {
  display: flex;
  align-items: center;
  gap: 3px;
}

.bottom_text {
  color: #353448;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */

  &--active {
    color: var.$color-active;
  }
}

.mediaLinks {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 0 12px;
}