@use 'index' as var;

.wrapper {
  font-family: var.$font-primary;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  color: var.$color-text;
}

.logo {
  display: block;
  width: 40px;
  height: 51px;
  background: url('/logo.svg') center / contain no-repeat;
}

a {
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: var.$color-active;
}

.color--active {
  color: var.$color-active;
}