@use '../../../assets/styles/index' as var;

.orderItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 27px;
  border-radius: 6px;
  border: 1px solid rgba(53, 184, 190, 0.15);
  background: #FFF;
}

.imgItem {
  width: 120px;
  height: 120px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.title {
  color: var.$color-dark;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  letter-spacing: 0.6px;
}

.total {
  color: var.$color-active;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
}