.wrapper {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: 30px;
  font-weight: 700;
}

.list {
  list-style: square;
  border: 1px solid black;
  border-radius: 10px;
  padding: 40px;
}

.list__item {
  font-size: 24px;
  color: darkblue;
}