@use '../../assets/styles/index' as var;

.menu {
  background-image: url('./menuBG.svg');
  background-size: cover;
}

.menu__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 140px 120px 155px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  padding-bottom: 10px;
}

.title {
  color: var.$color-active;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px; /* 110% */
  letter-spacing: 1.65px;
}

.phone {
  color: var.$color-active;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #5fc4d0;
  }
}

.description__text {
  width: 100%;
  max-width: 466px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  letter-spacing: 0.36px;
}

.btns-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;

}


