.menu {
  background-size: cover;
}

.menu__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 140px 120px 155px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  padding-bottom: 10px;
}

.title {
  color: var(--color-active);
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 1.65px;
}

.description__text {
  width: 100%;
  max-width: 466px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36px;
  color: var(--color-text-secondary);
}

.phone {
  color: var(--color-active);
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--color-active);
    opacity: 0.8;
  }
}

.btns-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
}
